In [1]:
import pandas as pd
from tidyframe.tools import flatten_dict

In [2]:
dict_1 = {'a':1, 'b': [1, 2], 'c':{'cc1':3, 'cc2':4}, 'd':{'dd1':5, 'dd2':{'ddd1':6, 'ddd2':7}}}
dict_2 = {'a':1, 'b': [1, 2], 'c':{'cc1':3}, 'd':{'dd1':5, 'dd2':{'ddd1':6, 'ddd2':7}}}
list_dict = [dict_1, dict_2]

In [3]:
df_source = pd.DataFrame(list_dict)
df_source

   a       b                     c                                          d
0  1  [1, 2]  {'cc1': 3, 'cc2': 4}  {'dd1': 5, 'dd2': {'ddd1': 6, 'ddd2': 7}}
1  1  [1, 2]            {'cc1': 3}  {'dd1': 5, 'dd2': {'ddd1': 6, 'ddd2': 7}}

In [4]:
df_source['c_cc1'] = df_source['c'].apply(lambda x: x.get('cc1'))
df_source['c_cc2'] = df_source['c'].apply(lambda x: x.get('cc2'))
df_source['d_dd1'] = df_source['d'].apply(lambda x:x.get('dd1'))
df_source['d_dd2_dd1'] = df_source['d'].apply(lambda x:x.get('dd2').get('ddd1'))
df_source['d_dd2_dd2'] = df_source['d'].apply(lambda x:x.get('dd2').get('ddd2'))
del df_source['c'], df_source['d']

In [5]:
df_source

   a       b  c_cc1  c_cc2  d_dd1  d_dd2_dd1  d_dd2_dd2
0  1  [1, 2]      3    4.0      5          6          7
1  1  [1, 2]      3    NaN      5          6          7

+ **flatten_dict** help you flatten dict

In [6]:
df = pd.DataFrame([flatten_dict(x) for x in list_dict])
df

   a       b  c_cc1  c_cc2  d_dd1  d_dd2_ddd1  d_dd2_ddd2
0  1  [1, 2]      3    4.0      5           6           7
1  1  [1, 2]      3    NaN      5           6           7

+ Using inner dict name by **inner_name=True**

In [7]:
df = pd.DataFrame([flatten_dict(x, inner_name=True) for x in list_dict])
df

   a       b  cc1  cc2  dd1  ddd1  ddd2
0  1  [1, 2]    3  4.0    5     6     7
1  1  [1, 2]    3  NaN    5     6     7