In [1]:
import pandas as pd
import numpy as np
from tidyframe.tools import select, reorder_columns

In [2]:
df = pd.DataFrame(np.array(range(10)).reshape(2,5), columns=list('abcde'), index=['row_1', 'row_2'])

In [3]:
df

       a  b  c  d  e
row_1  0  1  2  3  4
row_2  5  6  7  8  9

+ Select columns by list of column names

In [4]:
df

       a  b  c  d  e
row_1  0  1  2  3  4
row_2  5  6  7  8  9

In [5]:
select(df, columns=['c', 'd'])

       c  d
row_1  2  3
row_2  7  8

+ Select Pandas DataFrame by minus

In [6]:
select(df, columns_minus=['b', 'd'])

       a  c  e
row_1  0  2  4
row_2  5  7  9

+ Select Pandas DataFrame by two columns

In [7]:
select(df, columns_between=['b', 'd'])

       b  c  d
row_1  1  2  3
row_2  6  7  8

## Reorder columns

In [8]:
reorder_columns(df, ['d', 'e'])

       d  e  a  b  c
row_1  3  4  0  1  2
row_2  8  9  5  6  7

In [9]:
reorder_columns(df, pattern='d|e')

       d  e  a  b  c
row_1  3  4  0  1  2
row_2  8  9  5  6  7