In [1]:
import pandas as pd 
import numpy as np
from tidyframe.tools import separate

In [2]:
df = pd.DataFrame({'full_string':['a b c d e z', 'f g h i']}, index=['row_1', 'row_2'])
series = df.full_string.str.split(' ')

In [3]:
separate(series)

      col_0 col_1 col_2 col_3 col_4 col_5
row_1     a     b     c     d     e     z
row_2     f     g     h     i   NaN   NaN

In [4]:
separate(series, index=[0, 4])

      col_0 col_4
row_1     a     e
row_2     f   NaN

In [5]:
separate(series, index=[0, 4], otherwise='otherwise')

      col_0      col_4
row_1     a          e
row_2     f  otherwise

In [6]:
separate(series, index=[0, 3], columns = ['zero', 'three'])

      zero three
row_1    a     d
row_2    f     i

In [7]:
separate([list('abc'), list('def')])

  col_0 col_1 col_2
0     a     b     c
1     d     e     f