In [1]:
import numpy as np
import pandas as pd
from tidyframe import to_dataframe

In [2]:
list_series = [pd.Series([1, 2], index=['i_1', 'i_2']),
               pd.Series([3, 4], index=['i_1', 'i_2'])]
list_series2 = [pd.Series([1, 2], index=['i_1', 'i_2']),
               pd.Series([3, 4], index=['i_3', 'i_4'])]

In [3]:
to_dataframe(list_series)

   i_1  i_2 index
0    1    2  None
1    3    4  None

In [4]:
to_dataframe(list_series2)

   i_1  i_2  i_3  i_4 index
0  1.0  2.0  NaN  NaN  None
1  NaN  NaN  3.0  4.0  None

In [5]:
to_dataframe(list_series, index_name='index2')

   i_1  i_2 index2
0    1    2   None
1    3    4   None